<template>
  <b-container style="max-width: 500px">
    <b-form @submit.prevent="onSubmit">
      <b-form-group label="Item Name" label-for="name-input">
        <b-form-input id="name-input" v-model="name"></b-form-input>
      </b-form-group>
      <b-form-group label="Amount" label-for="amount-input">
        <b-form-input
          type="number"
          id="amount-input"
          v-model.number="amount"
          @keypress="checkInput"
          ondrop="return false;"
          onpaste="return false;"
        ></b-form-input>
      </b-form-group>
      <b-button type="submit">Add</b-button>
    </b-form>
    <br />
    <p>
      Items in List: <b>{{ listLength }}</b>
    </p>
  </b-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  data() {
    return {
      name: '',
      amount: null,
    };
  },
  methods: {
    ...mapActions({ add: 'shoppingList/add' }),
    ...mapGetters({ getShoppingList: 'shoppingList/getShoppingList' }),
    onSubmit() {
      if (!this.isValid()) return;
      const item = { name: this.name, amount: this.amount };
      this.add({ item });
      this.name = '';
      this.amount = '';
    },
    isValid() {
      return this.name.trim() !== '' && this.amount !== null;
    },
    checkInput(e) {
      if (!(e.charCode >= 48 && e.charCode <= 57)) e.preventDefault();
    },
  },
  computed: {
    listLength() {
      return this.getShoppingList().length;
    },
  },
};
</script>
