<template>
  <b-container style="max-width: 500px">
    <b-list-group>
      <b-list-group-item v-for="item in shoppingList" :key="item.id">
        {{item.amount}}x {{item.name}}
      <b-btn variant="danger" style="float: right" @click="removeItem({item})">Delete</b-btn>
      </b-list-group-item>
    </b-list-group>
  </b-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  methods: {
    ...mapGetters({ getShoppingList: 'shoppingList/getShoppingList' }),
    ...mapActions({ removeItem: 'shoppingList/remove' }),
  },
  computed: {
    shoppingList() {
      return this.getShoppingList();
    },
  },
};
</script>
