<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Shopping List</router-link> |
      <router-link to="/add">Add Item</router-link>
    </div>
    <h1>My Shopping List</h1>
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  h1 {
    text-align: center;
  }
}

#nav {
  padding: 30px;
    text-align: center;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
